<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Models.SecretariaModel.csdl|res://*/Models.SecretariaModel.ssdl|res://*/Models.SecretariaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sv20.dbsqlserver.com,8888;initial catalog=geoquest;persist security info=True;user id=geoquest01;password=geoapps01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/Models.SecretariaModel.csdl|res://*/Models.SecretariaModel.ssdl|res://*/Models.SecretariaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\GeoQuest.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.UsuarioService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.IUsuarioService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.EscolaService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.IEscolaService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.QuestionarioService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.IQuestionarioService" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.RespostaService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="GeoApps.GeoQuest.SecretariaEducacao.Admin.WebServices.IRespostaService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="GeoApps.GeoQuest.SecretariaEducacao.WebServices.DAO.QuestionarioDAOAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>